<form>
  <h1>"Create A Team and Heroes!"</h1>
  Team Name: <input type ="text" name="hero[:team_name]">
  Team Motto: <input type ="text" name ="hero[:team_motto]">
  
  <h2>Hero 1</h2>
  
  <input type="submit">
</form>