<form>
  <h1>Create A Team and Heroes!</h1>
  <p>Team Name: <input type ="text" name="team[name]"></p>
  <p>Team Motto: <input type ="text" name ="team[name]"></p>
  
  <h2>Hero 1</h2>
  <p>Hero's Name: <input type ="text" name="team[hero][][name]"> </p>
  <p>Hero's Power:  </p> 
  <p>Hero's Biography:</p>
  
  <h2>Hero 2</h2>
  <p>Hero's Name:</p>
  <p>Hero's Power: </p>
  <p>Hero's Biography:</p>
  
  <input type="submit">
</form>